<!DOCTYPE html>

<head>
  <title><%= appName %></title>
</head>

<body style="margin-top: 10%;">
  <center style="margin: 10%;">
    <h1><%= appName %></h1>
    <h1><%= nodeEnv %></h1>
  </center>
  <body>
</html>